<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyan.community"
    android:versionCode="1"
    android:versionName="1.0"
    >
    <!-- 添加该自定义权限 -->
    <uses-permission android:name="cn.bmob.permission.push" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Push SDK权限 end -->
    <!-- 允许网络连接以及网络状态改变 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 文件存储 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />


    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>

    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.cyan.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tGkaymlMfX0Il47RjcoxcQ7GcXzo1GXE" />

        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JHeb81aec74e3c4c0c7ca0deb5e992a82a" />


       <!-- 高德地图定位密钥-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="34eb8cca796df07a03c48ff840db76d8"
                           />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name="com.cyan.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--附近的加油站信息，内含聚合数据的密钥以及百度地图的密钥-->
        <activity
            android:name="com.cyan.ui.GasorderActivity"
            android:allowBackup="true"
            android:theme="@style/BaseAppTheme.AppTheme" >

        </activity>

        <activity
            android:name="com.cyan.gas.StationListActivity"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.gas.StationInfoActivity"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.gas.RouteActivity"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <!--百度定位的server声明-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!--导航部分的server声明-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>


        <service android:enabled="true"
                 android:name="com.cyan.music.MusicService" />
        <!--Bmob支付部分声明-->
       <!-- <activity
            android:name="c.b.a.A"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="c.b.a.B"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />-->

        <activity
            android:name="com.cyan.ui.ViolationActivity"
            android:allowBackup="true"
            android:theme="@style/BaseAppTheme.AppTheme" >
        </activity>

        <activity
            android:name="com.cyan.violation.ShortNameList"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.violation.ProvinceList"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.violation.CityList"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.violation.WeizhangResult"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <!--违章信息查询server的声明-->
        <service android:name="com.cheshouye.api.client.WeizhangIntentService" />

        <!--导航部分的Activity声明-->
        <activity
            android:name="com.cyan.ui.GpsActivity"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name="com.cyan.gps.Routplan"
                  android:theme="@style/BaseAppTheme.AppTheme" />

        <activity android:name="com.cyan.gps.OffMap"
                  android:theme="@style/BaseAppTheme.AppTheme"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/demo_name_basemap"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.cyan.gps.Location"
                  android:theme="@style/BaseAppTheme.AppTheme"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/demo_name_location"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.cyan.gps.OfflineDemo"
                  android:theme="@style/BaseAppTheme.AppTheme" />
        <activity android:name="com.cyan.gps.Location2"
                  android:theme="@style/BaseAppTheme.AppTheme" />
        <activity android:name="com.cyan.gps.Poisearch"
                  android:theme="@style/BaseAppTheme.AppTheme" />
        <activity android:name="com.cyan.gps.Poidemo"
                  android:theme="@style/BaseAppTheme.AppTheme" />
        <activity android:name="com.cyan.gps.Rountplan2"
                  android:theme="@style/BaseAppTheme.AppTheme" />
        <activity android:name="com.cyan.gps.Footprint"
                  android:theme="@style/BaseAppTheme.AppTheme" />
        <activity android:name="com.cyan.gps.PathReplayActivity"
                  android:theme="@style/BaseAppTheme.AppTheme" />
        <!--音乐部分Activity声明-->
        <activity
            android:name="com.cyan.ui.MusicActivity"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:allowBackup="true"
            android:supportsRtl="true"/>
        <activity
            android:name="com.cyan.music.WebMusicActivity"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <!--Bmob支付部分Activity声明-->
        <activity
            android:name="com.cyan.ui.ScanpayActivity"
            android:theme="@style/BaseAppTheme.AppTheme" />

        <!-- bmob pay sdk activity begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.bmob.pay.tool.PayActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!-- bmob pay sdk activity end -->

        <!--预约加油信息填写Activity声明-->
        <activity
            android:name="com.cyan.gas.Information_fill"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.cyan.gas.Information_detail"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.cyan.gas.Qr_codeActivity"
            android:theme="@style/BaseAppTheme.AppTheme"   />

        <!--车辆信息录入Activity声明-->

        <activity
            android:name="com.cyan.ui.CarInfoActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!--扫描二维码结果Activity声明-->

        <activity
            android:name="com.cyan.gas.Result"
            android:theme="@style/BaseAppTheme.AppTheme" />





        <activity
            android:name="com.cyan.ui.LoginActivity"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.cyan.ui.UserActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.cyan.ui.UserInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme">

        </activity>
        <activity
            android:name="com.cyan.ui.RegisterActivity"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.cyan.ui.SelectPicPopupWindow"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.cyan.ui.HeadActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.cyan.ui.PostActivity"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cyan.ui.DoodleActivity"
            android:theme="@style/BaseAppTheme.AppTheme">

        </activity>
        <activity
            android:name="com.cyan.ui.ContentActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.cyan.ui.MessageActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cyan.ui.CollectionActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.SettingsActivity"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.PostListActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.FocusActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.FansActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.RecordActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.AboutActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"/>
        <activity
            android:name="com.cyan.ui.PhotoActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"/>
        <activity
            android:name="com.cyan.ui.DraftActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"/>
        <activity
            android:name="com.cyan.ui.SearchActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!--Bmob推送部分的server声明-->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process="cn.bmob.push"
            android:permission="cn.bmob.permission.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter android:priority="2147483647"><!--优先级加最高-->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cyan.receiver.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
    </application>


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />


</manifest>
